# Java
*.class
*.log
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# VSCode
*/.vscode/*
!*/.vscode/settings.json
!*/.vscode/tasks.json
!*/.vscode/launch.json
!*/.vscode/extensions.json
*/*.code-workspace
.history/

# 项目
*/bin/*
!*/doc/*