# Java
*.class
*.log
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.bat
hs_err_pid*
!/*.jar

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk
!/*.bat

# VSCode
*/.vscode/*
!*/.vscode/settings.json
!*/.vscode/tasks.json
!*/.vscode/launch.json
!*/.vscode/extensions.json
*/*.code-workspace
.history/

# 项目
*/bin/*
!*/doc/*
tools_code/README.md